---
import { Image } from "astro:assets";
import SponsorLink from "./SponsorLink.astro";

import Fullscript from "../assets/fullscript.svg";
import Jetbrains from "../assets/jetbrains.svg";
import JSNation from "../assets/jsnation.svg";
import Owner from "../assets/owner.webp";
import Shopify from "../assets/shopify.svg";
import TalentLab from "../assets/talentlab.webp";
import InvestOttawa from "../assets/investottawa.webp";

const sponsors = [
  { name: "Shopify", logo: Shopify, href: "https://shopify.com" },
  {
    name: "Fullscript",
    logo: Fullscript,
    href: "https://fullscript.com",
  },
  { name: "Owner", logo: Owner, href: "https://owner.com" },
  {
    name: "TalentLab",
    logo: TalentLab,
    href: "https://talentlab.com",
  },
  {
    name: "Jetbrains",
    logo: Jetbrains,
    href: "https://jetbrains.com",
  },
  {
    name: "JS Nation",
    logo: JSNation,
    href: "https://jsnation.us/",
  },
  {
    name: "Invest Ottawa",
    logo: InvestOttawa,
    href: "https://bayviewyards.org/",
  },
];
---

<section>
  <div class="sponsors">
    <h2>PARTNERS</h2>

    <div class="marquee">
      <ul>
        {
          sponsors.map((sponsor) => (
            <li>
              <SponsorLink href={sponsor.href}>
                <Image src={sponsor.logo} alt={`${sponsor.name} Logo`} />
              </SponsorLink>
            </li>
          ))
        }
      </ul>
      <!-- these items are hidden unless the marquee is active -->
      <ul aria-hidden="true" class="marquee__hidden">
        {
          sponsors.map((sponsor) => (
            <li>
              <SponsorLink href={sponsor.href} hidden>
                <Image src={sponsor.logo} alt={`${sponsor.name} Logo`} />
              </SponsorLink>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, var(--purple), var(--blue));
    color: #fff;
    padding: 2rem 1rem;
    border: 4px solid #000;
    border-width: 4px 0;
    overflow-x: hidden;
  }

  .sponsors {
    --gap: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: 1418px;
    margin: auto;
  }

  .marquee {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }

  .marquee__hidden {
    display: none;
    @media screen and (max-width: 1418px) {
      display: flex;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    animation: none;

    @media screen and (max-width: 1418px) {
      animation: scroll 12s linear infinite;
    }
  }

  img {
    height: 72px;
    width: 135px;
    object-fit: contain;
  }

  li {
    display: flex;
    width: 186px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
